<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1a73e8">
  
  {% seo %}
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  
  {% if site.favicon %}
  <link rel="icon" type="image/png" href="{{ site.favicon | relative_url }}">
  {% endif %}
</head>
<body>
  {% include header.html %}
  
  <main class="main-content">
    {{ content }}
  </main>
  
  {% include footer.html %}
  
  <script src="{{ '/assets/js/scroll-animations.js' | relative_url }}"></script>
</body>
</html>

